.container {
    margin: 20 auto;
    padding: 20 auto;
}

.teamList {
    display: block;
    margin-bottom: 10px;
    width: 200px;
    /* background-color: violet; */
}

.teamList p {
    margin: 10px auto;
}

.button {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}